<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="com.dev.dawaswift">

    <dist:module dist:instant="true"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-feature
            android:name="android.hardware.location.network"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.location.gps"
            android:required="false"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".ui.money.MoneyActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".ui.prescription.PrescriptionActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <service
                android:name=".TrackerService"
                android:enabled="true"
                android:exported="true"/>

        <activity
                android:name=".ui.pharmacies.Pharmacy"
                android:configChanges="orientation"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.chat.ChatActivity"
                android:configChanges="orientation"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false"/>

        <activity
                android:name=".ui.cart.delivery.CreateDelivery"
                android:configChanges="orientation"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name="com.dev.common.profile.ProfileActivity"
                android:configChanges="orientation"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.category.Categories"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.productview.ProductView"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.productsearch.ProductSearch"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".SplashActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.cart.CartActivity"
                android:configChanges="orientation"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.order.OrderActivity"
                android:configChanges="orientation"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyAkMWJ0p-e5jxdc643zcVQ6pfyYwESDQMc"/>
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>

        <activity
                android:name="com.schibstedspain.leku.LocationPickerActivity"
                android:label="@string/leku_title_activity_location_picker"
                android:parentActivityName=".ui.cart.delivery.CreateDelivery"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar"
                android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                    android:name="android.app.searchable"
                    android:resource="@xml/leku_searchable"/>
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.cart.delivery.CreateDelivery"/>
        </activity>

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/logo"/>
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorAccent"/>
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="@string/default_notification_channel_id"/>

        <service
                android:name=".network.FirebaseService"
                android:enabled="true"
                android:exported="true"
                android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>
    </application>

</manifest>