<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="com.dev.dawaswiftdriver">

    <dist:module dist:instant="true"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".views.account.MyProfile"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".views.account.ui.myprofile.Profile"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".views.travel.Trips"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".views.travel.TravelActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key"/>

        <activity
                android:name=".views.SplashActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
                android:name=".services.TrackerService"
                android:enabled="true"
                android:exported="true"/>

        <activity
                android:name=".views.MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>


        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/logo"/>
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorAccent"/>
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="@string/default_notification_channel_id"/>

        <service
                android:name=".services.FirebaseService"
                android:enabled="true"
                android:exported="true"
                android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>
    </application>

</manifest>